.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30vh;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.foot-icon {
    border-radius: 50%;
    height: auto;
    border: 3px solid rgb(92, 89, 89);
    padding: 3%;
    gap: 5px;
}

.footer1 {
    font-size: 1.1rem;
}

.footer2 {
    font-size: 1.3rem;
}