<footer class="footer p-2 bg-secondary text-light fs-5">
    <div class="container cards">
      <div class="row mb-2">
        <div class="col text-center">
          <h2><i class="fa-brands fa-shopify"></i> Famazon</h2>
        </div>
      </div>

      <div id="foot" class="row text-center">
        <div class="col-3">
            <i class="fa-solid fa-laptop"></i>
        </div>
        <div class="col-3">
            <i class="fa-solid fa-mobile"></i>
        </div>
        <div class="col-3">
            <i class="fa-solid fa-camera"></i>
        </div>
        <div class="col-3">
            <i class="fa-solid fa-house"></i>
        </div>
      </div>


      <div id="foot" class="row footer1 text-center">
            <div class="col-3">
              <p>Laptop</p>
            </div>
            <div class="col-3">
              <p>Mobile</p>
            </div>
            <div class="col-3">
                <p>Camera</p>
            </div>
            <div class="col-3">
                <p>Household goods</p>
            </div>
       </div>
    </div>

    <div id="foot" class="row text-center footer2">
        <div class="col-md-6 col-4">
          <p>&copy; Codefactory 2024</p>
        </div>
        <div class="col-md-4 col-4">
          <p>All rights reserved</p>
        </div>
    </div>
</footer>


