<div class="container-fluid cont-1">
  <h1 class="header fw-bold text-center">Who is Famazon?</h1>
  <div class="d-flex align-items-center mx-auto">
    <div class="flex-shrink-0">
      <img
        class="image"
        src="https://cdn.pixabay.com/photo/2021/09/24/12/46/couple-6652464_1280.jpg"
        alt="this is an image"
      />
    </div>
    <div class="flex-grow-1 ms-3 p-5 text">
      We are a small group of young people who had an idea for a progressive
      online store in 2023. We sell everything from electrical appliances,
      laptops and cell phones to household appliances and cosmetics. Order
      easily from the comfort of your sofa. The goods will be delivered to your
      home within 48 hours.
    </div>
  </div>
  
  <div class="d-flex align-items-center">
    <div class="justify-content-center mx-auto mt-5">
        <p class="fs-3 fw-bold fst-italic text-decoration-underline">Try out our many benefits:</p>
        <ul class="list mx-auto justify-content-center my-3">
            <li>Short delivery times</li>
            <li>Best prices</li>
            <li>Large selection of products</li>
            <li>Discount campaigns</li>
            <li>Convenient ordering options</li>
        </ul>
    </div>   
   </div>
</div>
