<nav
      class="navbar sticky-top bg-dark navbar-expand-lg bg-body-secondary fs-5 page-header">
      <div class="container-fluid">
        <div class="w-1">
          <img
            class="image"
            src="https://cdn-icons-png.flaticon.com/512/6975/6975670.png"
            alt="Logo"
          />
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse p-3" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" routerLink="/"
              >Home</a>
            <a class="nav-link" routerLink="/about">About</a>
            <a class="nav-link" routerLink="/products">Products</a>
            <a class="nav-link" routerLink="/cart">Cart</a>
          </div>
        </div>        
      </div>
    </nav>
