<div class="cont-1">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 p-5">
        <div *ngFor="let item of products; let i = index">
            <div class="card mx-auto m-3">
                <div class="card-header">
                    {{item.productType}}
                </div>
                <img [src]="item.img" class="card-img-top mx-auto mt-3 card-img" alt="this is an image">
                <div class="card-body">
                  <h5 class="card-title">{{item.brand}}</h5>
                  <p class="card-text text-uppercase fw-bold">{{item.productName}}</p>
                  <p class="card-text">{{item.price|currency:"EUR"}}</p>
                  <div class="d-flex justify-content-around">
                    <a routerLink="/details/{{i}}" class="btn btnDetail btn-lg">Details</a>
                    <button (click)="addToCart(item)" class="btn btnBuy btn-lg">Order</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

