<div class="home container-fluid">
    <h1 class="header text-center">
        <i class="fa-solid fa-cart-shopping"></i>Welcome to Famazon online shop!<i class="fa-solid fa-cart-shopping"></i>
    </h1>
    <br>
    <h2 class="text-center">The perfect gift for everyone and everything</h2>
    <br>
    <h3 class="text-center">Everyone will find what they are looking for at the best price</h3>
    <div class="d-flex">
        <a routerLink="/products" class="btn prodBtn btn-lg mx-auto my-5">Products</a>
    </div>      
</div>