<div class="container-fluid detail-cont">
    <h1 class="header">You selected a product of the category "{{product.productType}}"</h1>
    <div class="d-flex align-items-center mx-auto">
        <div class="flex-shrink-0">
            <img class="card-img" [src]="product.img" alt="this is an image"
            />
        </div>
        <div class="flex-grow-1 ms-3 p-5 text">
            <p class="text-start"><span class="text1">Brand:</span> {{ product.brand }}</p>
            <p class="text-start"><span class="text1">Product:</span> {{ product.productName }}</p>
            <p class="text-start"><span class="text1">Price:</span> {{product.price|currency:"EUR"}}</p>
            <p class="text-start"><span class="text1">Description:</span> {{product.description}}</p>
        </div>
    </div>
    <button (click)="addToCart()" class="btn btn-lg btn-outline-secondary my-3">Buy!</button>
</div>
